.embla {
  width: 100%;
  height: 400px; /* or whatever you want */
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 40%;
  height: 100%;
}
.embla__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}