@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


.roboto-default {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* change this */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
